_ReSharper.Ushahidi/
Ushahidi.Common/bin/
Ushahidi.Common/obj/
Ushahidi.Common/Ushahidi.Common.csproj.user
Ushahidi.Common.Tests/bin/
Ushahidi.Common.Tests/obj/
Ushahidi.Common.Tests/Ushahidi.Common.Tests.csproj.user
Ushahidi.Map/bin/
Ushahidi.Map/obj/
Ushahidi.Map/Ushahidi.Map.csproj.user
Ushahidi.Model/bin/
Ushahidi.Model/obj/
Ushahidi.Model/Ushahidi.Model.csproj.user
Ushahidi.Model.Tests/bin/
Ushahidi.Model.Tests/obj/
Ushahidi.Model.Tests/Ushahidi.Model.Tests.csproj.user
Ushahidi.Setup/bin/
Ushahidi.Setup/obj/
Ushahidi.Setup/Resources
Ushahidi.Setup/Ushahidi.Setup.csproj.user
Ushahidi.View/bin/
Ushahidi.View/obj/
Ushahidi.View/Ushahidi.View.WM6.csproj.user
Ushahidi.View/Ushahidi.View.PPC2003.csproj.user
Ushahidi.View.Tests/bin/
Ushahidi.View.Tests/obj/
Ushahidi.View.Tests/Ushahidi.View.Tests.csproj.user
Ushahidi.4.1.resharper.user
Ushahidi.suo
/Ushahidi.View/Resources/Thumbs.db